# This is document is valid for every stage, except "development"

#
# Ignore everything
#
*


#
# Include artifacts needed for building stages
#

### App ###
!config
!public
!src

### Composer ###
!composer.*